<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/styleLogin.css">
</head>
<body>

    <main class="form-container">
        
        <img src="../img/logoKinal.png" alt="Logo Kinal" class="form-image">

        <h1>Inicia sesión</h1>
        <h1>OG</h1>

        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
        </form>

    </main>

</body>
</html>
